extends ../../../manage

block content
  .paddStyle
    #scrollToTop.container
      h1.logo.logo-font.fontHead SCHEDULE
      h4 #[a(href='/admin/schedule/add') Add Schedule]
      .row
        .col-md-12
          if schedules
            table.table.table-striped.table-bordered.table-hover.table-condensed.tableFrame
              thead
                tr
                  th Date
                  //- th Place  
                  th Venue
                  //- th Direction(from Google MAP)
                  th
                  th
              tbody
                each schedule,i in schedules
                  tr
                    td #{schedule.date}
                    //- td #{schedule.place}
                    td #{schedule.direction}
                    //- td #[a.btn.btn-primary.center-block(href='#{schedule.link}') Link]
                    td #[a.btn.btn-primary.center-block(href='/admin/schedule/edit/#{schedule._id}') Edit]
                    td #[a.btn.btn-danger.center-block.removeSchedule(data-id='#{schedule._id}') Delete]
          else
            p.noschedules No content to display.